/* Filename: P2_style.css */

/* Import Google Fonts */
@import 'https://fonts.googleapis.com/css?family=Lora';

/* CSS styling */
html {
	font-family: 'Lora', serif;
	font-size: 1.25em;
}

header div {
	margin: 16px 0 8px;
}

body {
	max-width: 800px;
	margin: 0 auto; /* center */
	background-color: #eaeaea;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Open sans, sans-serif;
}

header,
section { /* Box in the sections */
	padding: 20px 50px;
	margin: 10px 0;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

header {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(200, 200, 200);
}

main>:first-child {
	border-radius: 6px 6px 0 0;
}

main>:last-child {
	border-radius: 0 0 6px 6px;
}

footer {
	padding: 0 15px;
	margin: 10px 0;
	font-size: 12px;
	text-align: center;
	opacity: 0.50;
}

h1 {
	margin: 12px 0 21px;
}

h2 {
	margin: 5px 0;
}