/* Author: Hans, Thomas
Year: 2016
Purpose: Styling for "Om kaféen"
Filename: about.css
*/

/* All annen styling til about.css, er foretatt i main.css */

@media screen and (max-width: 700px) {
	.center_image {
		width: 100%;
	}
	.fig-img {
		float: none;
		margin: 0 auto;
		max-width: 350px;
	}
}
