.flexrow-col-2 {
    padding: 20px;
}

.flexrow-col-2 img {
	max-width: 400px;
    display: block;
}


h2 {
	font-size: medium;
}

.textbox {
	max-width: 500px;
    padding: 20px;
    border: 1px solid black;
}

.flexrow-image_right-2el {
    margin-bottom: 20px;
}


@media screen and (max-width: 900px) {
    .flexrow-image_right-2el {
        flex-direction: column;
    }

    .flexrow-image_right-2el .flexrow-col-2 {
        order: -1;
    }

    .img-class {
        max-width: 350px;
        float: none;
        margin: 0 auto;
    }
    .flexrow-col-1 {
        width: 100%;
        max-width: none;
    }
    .flexrow-col-2 {
        margin: 20px auto;
        padding: 5px;
    }
    .flexrow-col-2 img {
        max-width: 100%;
    }
}
