/*
Author: Tor Niklas
Year: 2016
Purpose: Styling for jobs_application.html
Filename: jobs_application.css
Modification history:

*/

main{
	/*border-style: solid;*/
	/*border-color: red;*/
	position: relative;
}
#form{
	max-width: 420px;
	position: relative;
	margin-left: 40px;
	margin-bottom: 20px;
}
#knapp{
	margin-top: 15px;
	visibility: hidden;
	border: solid #8B4C39 2px;
	min-height: 2em;
	padding: 3px;
}
input{
	width: 100%;
}
.bigbox{
	width: 100%;
	height: 156px;
}

@media screen and (max-width: 500px) {
	#form {
		width: 100%;
		margin: 20px auto;
	}
}
#send{
	padding-top: auto;
	width: 95px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	background-color: #bb9776;

	border-style: solid;
	border-radius: 60px;
	border-color: black;
	border-width: 2px;
}
#send:hover{
	background-color: #d3af8d;
	cursor: default;
}