/*
Author: Tor Niklas
Year: 2016
Purpose: Styling for jobs.html
Filename: jobs.css
Modification history:

*/

#text{
	width: 100%;
	padding: 7%;
	padding-top: 4%;
}

/*Styling for linken til jobs_application.html*/
#jobbsok{
	padding-top: auto;
	width: 95px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	background-color: #bb9776;

	border-style: solid;
	border-radius: 60px;
	border-color: black;
	border-width: 2px;
}
a:link{
	text-decoration: none;
}
#jobbsok:hover{
	background-color: #d3af8d;
	cursor: default;
}