/* Filename: main.css */

/* Import Google Fonts */
@import 'https://fonts.googleapis.com/css?family=Lora';

/* CSS styling */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Box sizing, inherit for cascading */
*, *::before, *::after {
    box-sizing: inherit;
}

/* Lenker styling */
a:link,
a:visited {
    color: #232323;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #3e3e3e;
}

/* Fonts */
html {
    font-family: 'Lora', serif;
    font-size: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open sans", sans-serif;
}

/* Flexbox positioning */
body {
    display: flex;
    background: url(../img/texture.png);
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
}

/* Navbar */
#navbar {
    position: fixed; /* Always show the navbar */
    z-index: 10;
    width: 100%;

    list-style: none;
    margin: 0;
    padding: 0;

    background-color: #000000;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#navbar-push {
    height: 39px; /* This height will be updated with javascript through navbarPositionFixed.js */
    background-color: #000000;
}

#navbar a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    color: white;
}

#navbar a:hover:not(.active) {
    background: #232323;
}

.active {
    background-color: #c84f25;
}

#navbar-menu-icon {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 10px;
    height: 41px; /* updated with JS, see navbarPositionFixed.js */
    z-index: 15;
    cursor: hand;
    cursor: pointer;
    background-color: #c84f25;
    border-top: 1px solid rgba(255, 255, 255, 0.36);
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

#navbar-menu-icon:hover {
    background-color: #000000;
}

#navbar-menu-icon img {
    height: 100%;
}

#navbar a.show {
    display: block;
}

/* Collapse navbar */
@media screen and (max-width: 550px) {
    #navbar-menu-icon {
        display: block;
    }

    #navbar {
        flex-flow: column wrap;
        padding: 0;
    }

    #navbar a {
        display: none;
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.36);
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    }

    #navbar a.active {
        order: -1;
        display: block;
    }
}

/* Banner image */
div.banner {
    width: 100%;
}
.banner{
    position: relative;
    height: 0;
    padding-bottom: 25%
}
.banner img {
    display: block;
    width: 100%;

    position: absolute;
    height: 100%;
}

/* Main section */
main {
    width: 1000px;
    box-sizing: border-box; /* Always 1000px width */
    padding: 0 20px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    flex-grow: 1; /* Push footer down */
}

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
    }
}

/* Clear floats */
.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* Floating rows */
.col-2 {
    margin-bottom: 50px;
    width: 50%;
    float: left;
}

@media screen and (max-width: 700px) {
    .col-2 {
        width: 100%;
    }
}

/* Footer */
#footer-wrap {
    color: white;
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 12px;
    text-align: center;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#footer-wrap>* {
    padding: 5px;
}

/* Image figure styling */

.float-right {
    float: right;
}

.fig-img {
    max-width: 100%;
}

.fig-img img {
    max-width: 100%;
}

/* Flexbox image wrapping for responsive design */

.flexrow-image_right-2el {
    display: flex;
    flex-flow: row nowrap;
}

.flexrow-image_right-2el .flexrow-col-1 {
    flex-grow: 1;
}

@media screen and (max-width: 550px) {
    .flexrow-image_right-2el {
        flex-direction: column;
    }

    .flexrow-image_right-2el .flexrow-col-2 {
        order: -1;
    }
}


/*CSS for modal popup-image */
/* Style the Image Used to Trigger the Modal */
.popup-picture {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.popup-picture:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 15; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}





/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}