/* Author: Thomas
*  Year: 2016
*  Purpose: Styling for picture_sources.html
*  Filename: picture_sources.css
*/

/* Import Google Fonts */
@import 'https://fonts.googleapis.com/css?family=Lora';

/* CSS styling */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Box sizing, inherit for cascading */
*, *::before, *::after {
    box-sizing: inherit;
}

/* Lenker styling */
a:link,
a:visited {
    color: #232323;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #3e3e3e;
}

/* Fonts */
html {
    font-family: 'Lora', serif;
    font-size: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open sans", sans-serif;
}

/* Flexbox positioning */
body {
    background: url(../img/texture.png);
    min-height: 100%;
}

/* Header */
header {
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.96);
    border: solid 1px black;
    border-radius: 5px;
}

/* Main section */
main {
    width: 1000px;
    box-sizing: border-box; /* Always 1000px width */
    padding: 1px 20px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.78);
    border: solid 1px black;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
    }
}