td:nth-child(2) {
	text-align: right;
}
.flexrow-col-1 {
	padding: 20px;
	border: 1px solid black;
}

.tabell {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

.tabell tr:nth-child(even) {
	background-color: rgba(72, 72, 72, 0.08);
}

.flexrow-col-2 {
	padding: 20px;
}

.flexrow-col-2 img {
	display: block;
	max-width: 350px;
}

@media screen and (max-width: 600px) {
	.flexrow-image_right-2el {
		flex-direction: column;
	}

	.flexrow-image_right-2el .flexrow-col-2 {
		order: -1;
	}

	.flexrow-col-2 {
		width: 100%;
	}

	.flexrow-col-2 img {
		margin: 0 auto;
	}
}

